html {
    font-family: 'IBM Plex Mono', monospace;
}

h1, p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 25px;
}

h1 {
    color: #6984FA;
    font-size: 5em;
    font-weight: 400;
}

p {
    color: #ffffff;
}

.box {
  width: 90%;
  height: 90%;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}

.embed {
    display: flex;
    flex-direction: column;
    align-items: center;
}